body {
    background-color: #f8f9fa;
}

html {
    scroll-behavior: smooth;
}



.navbar {
    background-color: #ffffff; /* Navbar background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Navbar box shadow */
}

.navbar-brand {
    font-weight: bold; /* Make the navbar brand text bold */
}

.navbar-nav .nav-link {
    color: #333; /* Navbar link color */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Navbar link color on hover */
}

/* Active Navbar Link Styles */
.navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Active navbar link color */
}

.hero-section {
    background-color: #007bff;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.hero-section img {
    width: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.section {
    margin-top: 40px;
}

.contact-button {
    margin-top: 40px;
}

#pic:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.education-item {
    display: inline-block;
    width: 45%; /* Adjust the width as needed */
    margin-right: 20px; /* Add some margin between the paragraphs */
}

.year-grades {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
}

.year-grades {
    margin-top: 20px;
}







